.advantages {
  text-align: center;
  width: 100%;
  height: auto;
  background-image: url("/productbg.png");
  background-position: bottom center;
  background-size: 100% 100%;
  color: #fff; /* Цвет текста */
  padding: 60px 80px; /* Отступы */
}

.title {
  font-family: var(--font-family);
  font-weight: 800;
  padding: 80px;
  font-size: 96px;
  line-height: 98%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--camera-white);
}

.information {
  display: flex;
  text-align: left;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 98%;
  letter-spacing: -0.01em;
  color: var(--beige);
}

.span-bold {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  line-height: 98%;
  text-align: left;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--beige);
  margin-left: 20px;
  margin-right: 60px;
}

.cardContainer {
  display: flex;
  justify-content: space-around;
  padding: 35px 0;
}

.card {
  width: 413px;
  height: 250px;
  background: #191918;
  gap: 16px;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.gap {
  margin-left: 20px;
}

/*
.card p {
  text-align: start;
  font-weight: 400;
  font-size: 16px;
  line-height: 98%;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: var(--beige);
}
*/

.about-p {
  text-align: left;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 98%;
  letter-spacing: -0.01em;
  color: var(--beige);
}

.h4-span {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 98%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: left;
  color: var(--primary);
  border-bottom: 1px solid var(--beige);
  margin-bottom: 30px;
  padding: 20px 40px 10px 20px;
}

.icon {
  width: 40px; /* Ширина изображения */
  height: 40px; /* Высота изображения */
  margin-bottom: 10px; /* Отступ между изображением и текстом */
}

.span-colored {
  color: var(--primary);
  font-weight: 600;
}
