:root {
  --font-family: "Montserrat", sans-serif;
  --beige: #f5f5f0;
  --primary: #ff6b00;
  --camera-white: #fbf9f8;
}

.about-wrapper {
  width: 100%;
  height: auto;
  background-image: url("/productbg.png");
  background-position: bottom center;
  background-size: 100% 100%;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-content {
  text-align: center;
}

.about-title {
  font-family: var(--font-family);
  font-weight: 800;
  padding: 100px;
  padding-top: 140px;
  font-size: 96px;
  line-height: 98%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  text-align: center;
  color: var(--camera-white);
}

.about-card {
  display: flex; /* Используем flexbox для двухколоночного макета */
  gap: 20px; /* Промежуток между колонками */
  margin: 0 80px;
}

.about-left {
  flex: 0 0 40%; /* Занимает 30% ширины */
  display: flex; /* Центрирование содержимого */
  justify-content: center; /* Горизонтальное центрирование */
  align-items: center; /* Вертикальное центрирование */
  background-color: lightgray; /* Пример фона для визуализации */
}

.about-left img {
  width: 100%; /* Изображение займет всю ширину колонки */
  height: auto; /* Сохранение пропорций изображения */
}

.about-right {
  flex: 0 0 50%; /* Занимает 70% ширины */
  display: flex; /* Центрирование текста */
  margin-left: 40px;
  flex-direction: column;
  padding: 20px; /* Отступы для текста */
  text-align: left;
}

/* Пример стиля текста */
.about-right p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 98%;
  letter-spacing: -0.01em;
  text-transform: lowercase;
  color: var(--beige);
  padding-bottom: 20px;
}
