.basket {
  height: 25px;
  cursor: pointer;
  margin-right: 24px;
  transition:
    all 0.3s ease,
    filter 0.3s ease;
  fill: #fcfefe;
  display: block;
}

.basket:hover {
  filter: invert(48%) sepia(96%) saturate(1189%) hue-rotate(330deg)
    brightness(92%) contrast(91%);
  height: 28px;
  margin-right: 21px;
}
